.page {
  min-block-size: 100dvb;
  font-family: var(--font-main), sans-serif;
  font-variation-settings: "wght" var(--font-weight-normal);
  background-image: var(--page-background-image);
  background-size: cover;
  background-attachment: fixed;
  font-size: var(--font-size);
  max-inline-size: 100vi;
}

.upper {
  text-transform: uppercase;
}

.header {
  font-family: var(--font-accent), fantasy;
  border: 2px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
  padding: 120px 14px;
  background-color: var(--main-color);
}

.header__title {
  font-size: var(--header-title-size);
}

.header__text {
  font-size: var(--header-subtitle-size);
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.block {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--accent-color);
  background-color: var(--main-color);
}

.block__title {
  font-size: var(--font-size);
  padding: 5px 10px;
  border-bottom: 2px solid var(--accent-color);
  font-variation-settings: "wght" var(--font-weight-bold);
}

.block__img-container {
  position: relative;
}

.block__img_lable {
  position: absolute;
  inset-inline-end: 11px;
  inset-block-start: 23px;
  font-family: var(--font-accent), fantasy;
  font-size: var(--font-size-accent);
  text-shadow: 0px 0px 4px var(--lable-stroke-color);
  z-index: 1;
  opacity: 0.5;
  line-height: 100%;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px var(--lable-stroke-color)) or (-webkit-text-stroke: 1px var(--lable-stroke-color))) {
  .block__img_lable {
    -webkit-text-stroke: 1px var(--lable-stroke-color);
    text-stroke: 1px var(--lable-stroke-color);
    text-shadow: none;
  }
}

.block__img {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.block__text {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 25px;
  border-top: 2px solid var(--accent-color);
  font-variation-settings: "wght" var(--font-weight-normal);
}

.button_primary {
  display: block;
  position: relative;
  background-color: var(--main-color);
  border: 2px solid var(--accent-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button_primary::before {
  content: "";
  position: absolute;
  inset-inline-start: 0px;
  inset-block-start: 0px;
  background-color: var(--accent-color);
  block-size: 100%;
  inline-size: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button_primary:focus {
  outline: none;
}

.button_primary:focus-visible {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
}

.button_primary:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  padding: auto;
}

.like {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-self: end;
}

.card__icon-button {
  background-color: var(--main-color);
  border: 2px solid transparent;
  align-self: center;
  transition: outline 0.3s ease;
  max-block-size: 38px;
}

.card__icon-button:hover {
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  outline: none;
}

.button__text {
  font-family: var(--font-accent), fantasy;
  font-size: var(--font-size-accent);
  color: var(--main-color);
  mix-blend-mode: difference;
}

.save__button {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  gap: 8px;
  background-color: var(--main-color);
  margin: 50px auto 100px auto;
  max-inline-size: 700px;
}

.floppy {
  inline-size: var(--floppy-size);
  block-size: var(--floppy-size);
  align-self: center;
  fill: var(--main-color);
  mix-blend-mode: difference;
  flex-shrink: 0;
}

.big-floppy {
  inline-size: 100%;
  block-size: 100%;
  max-inline-size: 40px;
  max-block-size: 40px;
}

.save__modal {
  background-color: var(--main-color);
  flex-direction: column;
  gap: 30px;
  padding: 30px 40px;
  font-family: var(--font-accent), fantasy;
  font-size: var(--font-size-accent);
  border: 2px solid var(--accent-color);
}

.save__modal[open] {
  display: flex;
}

.save__modal_content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.save__modal_text {
  line-height: 150%;
}

.save__modal_button {
  inline-size: 100%;
  padding: 10px 0px;
}

.save__modal::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.blur {
  filter: blur(2px);
}

.brightness {
  filter: brightness(50%);
}

.contrast {
  filter: contrast(160%);
}

.grayscale {
  filter: grayscale(70%);
}

.hue-rotate {
  filter: hue-rotate(0.3turn);
}

.invert {
  filter: invert(40%);
}

.saturate {
  filter: saturate(190%);
}

.hue-rotate-saturate {
  filter: hue-rotate(0.6turn) saturate(220%);
}

.section-width {
  max-inline-size: var(--sections-inline-size);
  margin-left: auto;
  margin-right: auto;
}

@media (width >= 376px) {
  :root {
    --floppy-size: 21px;
  }

  .header {
      padding: 128px 14px;
  }

  .block__img_lable {
  inset-inline-end: 25px;
  inset-block-start: 25px;
  }

  .save__button {
  flex-direction: row;
  align-items: center;
  }
  
  .medium-floppy {
  inline-size: 21px;
  block-size: 21px;
  }

  .save__modal {
    max-inline-size: 353px;
  }
}